<header id="home">
  <%= partial "partials/headline" %>
</header>

<!--
<div class="container">
  <h2>Latest News</h2>
  <% blog.articles[0..1].each_with_index do |article, i| %>
    <% if i == 0 %>
    <article>
      <h3>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h3>
      <time datetime="<%= article.date.strftime('%y-%d-%m')%>" pubdate="">Posted on <%= article.date.strftime('%B %e, %Y')%></time>
      <br>
      <br>

      <%= article.body %>

      <br>
      <a href="/news">More news</a>
    </article>
    <% end %>
  <% end %>
</div>
-->
<% data.pages.each do |page| %>
<%
  title = page.keys[0]
  subtext = page[title]
%>
<% id = title.to_url %>
<div id="<%= id %>" class="block">
  <div class="container">
    <div class="row">
      <% if title.include?("Recap") %>
        <div class="hidden-xs">
      <% else %>
        <div class="col-xs-12">
      <% end %>
      <div class="col-xs-12">
        <div class="page-header">
          <h1>
            <%= title %>
            <% if subtext %>
            <small><%= subtext %></small>
            <% end %>
          </h1>
          <% if data.global.debug %>
          <a href="<%= api id %>" target="_self"><span class="label label-info">JSON API</span></a>
          <% end %>
        </div>
        <% if File.exists?("source/partials/_#{id}.erb") %>
          <%= partial "partials/#{id}" %>
        <% else %>
          <div class="alert alert-warning">
            <i class="fa fa-warning"></i>&nbsp;
            <strong>Warning:</strong> Partial <strong><%= id %></strong> does not exists.
            Create the file <code>/source/partials/_<%= id %>.erb</code>
            If you don't want this section, delete it from <code>/data/pages.yml</code> file.
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

